<div class="overflow-x-auto">
  <h2 class="font-bold mb-1 text-xl">Table</h2>
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
      <tr>
        <th
          class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Name
        </th>
        <th
          class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Phone Number
        </th>
        <th
          class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Email
        </th>
        <th
          class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Address
        </th>
        <th
          class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Longitude
        </th>
        <th
          class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Latitude
        </th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track users()) {
        <tr class="bg-white">
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            {{ user.name }}
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            {{ user.phone }}
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            {{ user.email }}
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            @for (address of user.address; track address; let i = $index) {
              <span>
                {{ address.addressLocation }}
                @if (i != user.address.length - 1) {
                  <span>,</span>
                }
              </span>
            }
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            {{ user.longitude }}
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            {{ user.latitude }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
